.form-shorten {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  margin: 0;
  margin-bottom: 1rem;

  width: 30rem;
}

.form-shorten__input {
  padding: 2px;
  width: 65%;
  border: none;
  border-bottom: 1px solid darkgray;
  margin: 10px;
}

.form-shorten__input:focus {
  outline: none;
}

.form-shorten__button {
  cursor: pointer;
  color: white;
  background-color: darkseagreen;
  border: none;
  height: 2rem;
  border-radius: 5px;
}
